

.header{
   background-color: #1f2937;
}

.nav a{
    color: white;
    text-decoration: none;

}

ul {
    list-style-type: none;
    display: flex;
    margin: -18px 300px;
}
.nav{
    display: flex;
    justify-content: space-between;

}
.logo{
    color: white;
}
.header{
    color: white;

}

.random{
    display: flex;
    justify-content: center;
}


.boxes{
    display: flex;
    justify-content: center;
    

}

.box{
    height: 100px;
    width: 100px;
    border-radius: 10px;
    margin: 20px;
    border: 100px red;

    background-color: #1f2937;
    display: flex;


}